<%!
import json
from django.utils.translation import ugettext as _
from openedx.core.djangolib.js_utils import dump_js_escaped_json
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="./main.html" />

<%block name="pagetitle">${_("Sign in or Register")}</%block>

<link href="${static.url('nyu_ui/css/login-register.css')}" type="text/css" rel="stylesheet"
      xmlns="http://www.w3.org/1999/html">
<script type="text/javascript" src="${static.url('nyu_ui/js/login-register.js')}"></script>
<div class="section-bkg-wrapper">
    <main id="main" aria-label="Content" tabindex="-1">
        <div id="login-and-registration-container" class="login-register">
            <section id="password-reset-anchor" class="form-type">
                <div id="password-reset-form" class="form-wrapper">
                    <div class="js-form-feedback" aria-live="assertive" tabindex="-1">
                        <div class="js-form-errors status submission-error" hidden>
                            <h4 class="message-title">${_('An error occurred.')}</h4>
                            <ul class="message-copy">
                            </ul>
                        </div>
                    </div>
                    <div class="js-form-feedback" aria-live="assertive" tabindex="-1">
                        <div class="js-password-reset-success status submission-success" hidden>
                            <h4 class="message-title"></h4>
                            <div class="message-copy"></div>
                        </div>

                    </div>
                    <form id="password-reset" class="password-reset-form" tabindex="-1" method="POST">
                        <div class="section-title lines">
                            <h2>
                                <span class="text">${_('Password assistance')}</span>
                            </h2>
                        </div>
                        <p class="action-label">
                            ${_('Please enter your email address below and we will send you instructions for setting a new password.')}
                        </p>
                        <div class="form-radio">
                            <div><input id="radio-email" type="radio" value="email" name="reset_password" checked><label for="radio-email">${_('Email')}</label></div>
                            <div><input id="radio-phone" type="radio" value="phone" name="reset_password"><label for="radio-phone">${_('Text message')}</label></div>
                        </div>
                        <div id="field-email" class="field-reset-password">
                            <div class="form-field email-email">
                                <label for="password-reset-email">
                                    ${_('Email')}
                                </label>
                                <input id="password-reset-email" type="email" name="email" class="input-block "
                                       aria-describedby="password-reset-email-desc" minlength="3" maxlength="254"
                                       required="" placeholder="username@domain.com" value="">

                            </div>
                        </div>

                        <div id="field-phone" class="field-reset-password" hidden>

                            <div class="form-field text-phone">
                                <label for="password-reset-phone">
                                    ${_('Phone')}
                                </label>
                                <input id="password-reset-phone" type="text" name="phone" class="input-block "
                                       aria-describedby="password-reset-phone-desc" minlength="11" maxlength="11"
                                       pattern="^(13[0-9]|14[579]|15[0-3,5-9]|16[6]|17[0135678]|18[0-9]|19[89])\d{8}$"
                                       required="">

                            </div>

                            <div class="form-field text-sms_code">
                                <label for="password-reset-sms_code">
                                    ${_('SMS Code')}
                                </label>
                                <input id="password-reset-sms_code" type="text" name="sms_code" class="input-block "
                                       aria-describedby="password-reset-sms_code-desc" minlength="6" maxlength="6"
                                       pattern="\d{6}"
                                       required="" value="" autocomplete="off">
                                <i class="reset-password-code icon phoneCode inactive" name="validate" data-click="onClick"
                                   data-description="TOVERCODE">${_('Get SMS Code')} </i>
                            </div>
                        </div>

                        <button id="btn-reset_password" class="action-primary" type="button">
                            ${_('Reset my password')}
                        </button>
                    </form>
                </div>
            </section>
        </div>
    </main>
</div>
